@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");

/* --------Reset Document-------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

/* --------Common-------- */
body {
  background-color: #03b496;
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

/* -----Input elements----- */
.inp-box,
.frm-drop,
.textarea-box,
.date-picker {
  width: 100%;
  color: #032e27;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  font-size: 0.8rem;
  border: 2px #03b496 solid;
  outline: none;
}

.textarea-box {
  height: 150px;
  resize: vertical;
}

.inp-box::placeholder,
.textarea-box::placeholder {
  font-size: 0.9rem;
  color: #065c4d;
}

.frm-drop {
  padding: 10px;
}

.date {
  position: relative;
}

.date .date-text {
  position: absolute;
  top: 20%;
  right: 40px;
  z-index: 11;
  font-size: 0.9rem;
  color: #7e7474;
  margin-left: 15px;
}

/* -----Submit button----- */
.su-btn {
  display: block;
  background-color: #03b496;
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: 2px #03b496 solid;
}

.su-btn:hover {
  background-color: #fff;
  color: #03b496;
}

/* -----Search box----- */
.search-sec {
  max-width: 450px;
  width: 100%;
  position: fixed;
  top: 40px;
  right: 40px;
}

/* -----Messages----- */
.msg {
  width: 100%;
  margin-top: 10px;
  font-size: 0.8rem;
  padding: 10px;
  border-radius: 15px;
  color: #fff;
}

.err {
  background-color: #aa2412;
}

.success {
  background-color: #0c7c37;
}

/* -----Navigation menu----- */
.nav-menu {
  min-width: 250px;
  height: 100%;
  background-color: #fff;
}

.nav-menu .logo {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.nav-menu .logo h2,
.home-content .logo h2 {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  background-color: #03b496;
  color: #fff;
  padding: 25px 20px;
  border-radius: 50%;
  border: 2px #fff solid;
}

.nav-menu .menu {
  list-style: none;
}

.nav-menu .menu li {
  border-top: 2px solid #03b496;
}

.nav-menu .menu li:last-child {
  border-bottom: 2px solid #03b496;
}

.nav-menu .menu li a {
  display: block;
  padding: 20px;
  color: #065c4d;
}

.nav-menu .menu li a:hover {
  background-color: #05c9a8;
  color: #fff;
}

.active {
  background-color: #03b496;
  color: #fff !important;
}

.nav-menu .user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 90px 0 15px 0;
}

.nav-menu .user h3 {
  color: #065c4d;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.user .lgo-btn {
  background-color: #03b496;
  color: #fff;
  padding: 10px 20px;
  border-radius: 15px;
  border: 2px #03b496 solid;
}

.user .lgo-btn:hover {
  background-color: #fff;
  color: #03b496;
}

/* -----Table----- */
table {
  width: 100%;
  background-color: #fff;
}

table,
th,
td {
  border: 1px solid #065c4d;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  font-weight: 400;
  color: #032e27;
}

th {
  background-color: #03b496;
}

.td-btn {
  text-align: center;
  padding: 5px;
}

.td-btn a {
  font-size: 0.8rem;
  padding: 6px;
}

.td-btn a:hover {
  background-color: #03b496;
}

.td-edit a {
  background-color: #0c7c37;
}

.td-del a {
  background-color: #aa2412;
}

/* --------Home page-------- */
.home-sec {
  min-height: 90vh;
  background-color: #03b496;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  max-width: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-content .heading {
  font-size: 2.5rem;
  font-weight: 500;
  color: #fff;
  margin: 20px 0;
}

.home-content .lg-frm {
  max-width: 280px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding: 25px 30px;
  border-radius: 20px;
}

.home-content .lg-frm h2 {
  font-size: 1.7rem;
  font-weight: 500;
  color: #03b496;
  margin-bottom: 15px;
}

.home-content .lg-frm form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* --------Dashboard page-------- */
.dash-sec {
  min-height: 100vh;
  background-color: #03b496;
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.data-content {
  background-color: #03b496;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-content > div {
  padding: 15px;
  display: flex;
  align-items: flex-start;
}

.data-form {
  max-width: 470px;
  max-height: 650px;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding: 25px 30px;
  border-radius: 20px;
  margin: 0 10px;
}

.data-form form .inputs {
  max-height: 400px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.data-form h2 {
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
  color: #03b496;
  margin-bottom: 15px;
}

.data-form .clear-btn {
  width: 100%;
  display: block;
  background-color: #0c7c37;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  border-radius: 15px;
  border: 2px #0c7c37 solid;
}

.data-form .clear-btn:hover {
  background-color: #fff;
  color: #0c7c37;
}

.data-table {
  max-width: 800px;
  width: 100%;
  max-height: 650px;
  overflow: hidden;
  background-color: #fff;
  padding: 10px;
  margin: 0 10px;
}

.data-table > div {
  padding: 10px;
  max-height: 550px;
  overflow: scroll;
}

@media (max-width: 1250px) {
  .data-content > div {
    align-items: center;
    flex-direction: column;
  }

  .data-form {
    max-width: 800px;
    margin-bottom: 10px;
  }
}
